.home-container h1, .home-container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 3.4rem;
    width: 100%;
    background-color: #fff7f4c4;
    border: solid thin transparent;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}
.home-container h2{
    font-size: 2.5rem !important;
}

.home-container h5 {
    padding-left: 20px !important;
    border: solid thin transparent;
    padding: 10px;
    background-color: #fff7f4c4;
    font-size: 2rem;
    border: solid thin transparent;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);

}

.home-container > h3:nth-child(2) {
    margin-top: 20px;
}

.global-stats-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.global-stats-contanier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: solid thin black;
    background-color: #fff7f4c4;
    border: solid thin transparent;
    box-shadow: 0px 0px 2px 2px rgb(248, 248, 248);
}

.global-stats-contanier h4{
    font-size:2rem;
    color: rgb(65, 65, 65);
    font-weight: bolder;
}

.global-stats-contanier p{
    font-size: 1.2rem;
    color: rgb(88, 88, 88);
    font-weight: bolder;
    border:solid thin rgb(177, 177, 177);
    padding: 3px 5px;
    border-radius: 5px;
}

.stats-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 20px;
}
.stats-card{
    width: 40%;
    min-width: 50%;
}


@media (max-width:480px){
    .global-stats-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .home-container h1{
        font-size: 7.3vw;
    }
    .home-container h2{
        font-size: 4.7vw !important;
    }
    .home-container h5 {
        font-size: 4vw;
    }
    .global-stats-contanier h4{
        font-size:5vw;
    }
    .global-stats-contanier p{
        font-size: 3.5vw;
    }
  }

@media (min-width: 481px) and (max-width:768px){
    .global-stats-grid{
        grid-template-columns: repeat(2, 1fr);
    }

  }

  @media (min-width: 769px) and (max-width:1024px){
    .global-stats-grid{
        grid-template-columns: repeat(2, 1fr);
        
    }

  }