.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor-small {
  display: block;
  transition: 250ms ease-out;
  width: 30px;
  height: 30px;
  left: -13px;
  top: -13px;
  border-radius: 50%;
  z-index: 11000;
  background: #88ff00;
  opacity: 0.8;
}
.cursor.big {
  display: block;
  transition: all 250ms ease-out;
  width: 80px;
  height: 80px;
  left: -55px;
  top: -55px;
  border-radius: 50%;
  z-index: 11000;
  opacity: 0.8;
}
.cursor2 {
  transition: all 650ms ease-out;
  width: 20px !important;
  height: 20px !important;
  left: -8px !important;
  top: -8px !important;
}

.cursor2.big {
  transition: all 750ms ease-out;
  width: 60px !important;
  height: 60px !important;
  left: -25px !important;
  top: -25px !important;
}
.cursor-hi {
  background: var(--brand-color4);
  mix-blend-mode: lighten;
  left: -35px !important;
  top: -35px !important;
}
.cursor-about {
  background: var(--brand-color1);
  mix-blend-mode: lighten;
  left: -35px !important;
  top: -35px !important;
}
.cursor-skills {
  background: var(--brand-color2);
  mix-blend-mode: lighten;
  left: -35px !important;
  top: -35px !important;
}
.cursor-contact {
  background: var(--brand-color3);
  mix-blend-mode: lighten;
  left: -35px !important;
  top: -35px !important;
}

.cursor-text {
  background: var(--brand-color2);
  mix-blend-mode: difference;
  width: 80px !important;
  height: 80px !important;
  top: -35px !important;
  left: -35px !important;
}

.cursor-inf {
  background: rgb(0, 255, 115);
  mix-blend-mode: exclusion;
  width: 120px !important;
  height: 120px !important;
  top: -55px !important;
  left: -55px !important;
}

.cursor-skill {
  background: var(--brand-color1);
  mix-blend-mode: difference;
  width: 120px !important;
  height: 120px !important;
  top: -55px !important;
  left: -55px !important;
}

.cursor-anim {
  background: var(--body-color);
  mix-blend-mode: difference;
  width: 220px !important;
  height: 220px !important;
  left: -110px !important;
  top: -100px !important;
}

.cursor-footer-inf {
  background: red;
  mix-blend-mode: difference;
  width: 150px !important;
  height: 150px !important;
  left: -70px !important;
  top: -70px !important;
}

.cursor-canvas {
  touch-action: none;
  opacity: 0.05;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -12000;
}
