.single-coin-conainer{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.coin-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: #fff7f4c4;
    border: solid thin transparent;
    width: 100%; 
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.coin-header h1{
    font-size: 3rem;
}

.coin-chart-title{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coin-time-period{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-time-period h5{
    margin-right: 20px;
}

.coin-time-period select{
    padding: 1px;
    border: solid thin transparent;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.price-container{
    padding: 10px;
    margin: 30px;
    background-color: #fff7f498;
    border: solid thin transparent;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.coin-tables{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 3%;
    margin-top: 15px;

}


.coin-statistics-table{
    padding: 10px 20px;
    background-color: #fff7f431;
    border: solid thin transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    width: 400px;
    min-width: 250px;

}

.coin-statistics-table h2{
    font-size: 1.5rem;
    font-weight: 900;
}

.coin-stat-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: solid thin rgb(207, 207, 207);
}

.coin-stat-header p{
    color: rgb(65, 65, 65);
}

.coin-header-name{
    display: flex;
}

.coin-header-name img{
    padding-left: 15px;
    width: 50px;
}

.coin-stat-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.coin-stat{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
    color: rgb(65, 65, 65);
    transition: all 1s
}

.coin-stat:hover{
    color: rgb(252, 145, 118);
    cursor:default;
}

.coin-stat img{
    padding-right: 20px;
    width: 12% !important;
    height: 6%;
}


.coin-stat-desc{
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.stat-name{
    font-size: 1rem;
}

.change-negative{
    color:red;
    font-weight: bold;
}

.change-positive{
    color:rgb(129, 194, 33);
    font-weight: bold;
}

.coin-description{
    background-color: #fff7f431;
    border: solid thin transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    color: rgb(65, 65, 65);
    margin: auto 4%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.coin-description h2, .coin-description h3{
    color: rgb(255, 137, 137);
}

.coin-description h3{
    margin-top: 15px;
}

.coin-description a , .coin-link a{
    color: rgb(255, 137, 137);
}

.coin-description a:visited, .coin-link a:visited{
    color: rgb(150, 81, 81)
}

.coin-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    color: rgb(65, 65, 65);
    margin: auto ;
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    max-width: 90%;
    margin: auto auto;
    margin-bottom: 20px ;
}

.coin-link{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: solid thin rgb(207, 207, 207);
}

.coin-link:first-child{
    border-top: solid thin rgb(207, 207, 207);
}




@media (max-width:768px){
    .coin-tables{
        display: flex;
        flex-direction: column;
    }
    .coin-statistics-table{
        width: 90%;
        min-width: 90%px;
    
    }
    .coin-statistics-table:nth-child(2){
        margin-top: 20px;
    
    }
    .coin-header-name h1{
        font-size: 6vw;
    }
    .coin-header-name img{
        width: 6vw;
    }
    .coin-header p{
        font-size: 2vw
    }
  }

  @media (min-width: 769px) and (max-width:1024px){
    .coin-tables{
        display: flex;
    }
    .coin-statistics-table{
        width: 300px;
        min-width: 250px;
    
    }
  }

  @media (min-width: 1025px) and (max-width:1200px){
    .coin-statistics-table{
        width: 300px;
        min-width: 250px;
    
    }
  }