.skill-set {
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
  cursor: grab;
}
.carousel.carousel--isRTL {
  direction: rtl;
}
.carousel.carousel--isRTL .carousel-trackContainer .carousel-track {
  direction: rtl;
}
.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carouselItem.carouselItem--clickable {
  cursor: pointer;
}
.carouselItem .debug-number {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-shadow: 0px 0px 9px white;
}
.carousel {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.carousel.carousel--isRTL {
  direction: rtl;
}
.carousel.carousel--isRTL .carousel-trackContainer .carousel-track {
  direction: rtl;
}
.carousel .carousel-trackContainer {
  width: 100%;
  overflow: hidden;
}
.carousel .carousel-trackContainer .carousel-track {
  display: flex;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.carousel .carousel-trackContainer .carousel-track.carousel-track--transition {
  transition: transform;
}
.carousel-arrows {
  cursor: pointer;
}
.carousel-loader {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 4px solid #7b59ff;
  border-left-color: transparent;
  -webkit-animation: loader 1s infinite linear;
  animation: loader 1s infinite linear;
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.carousel-arrows {
  position: relative;
  padding: 21px;
  border: none;
  overflow: hidden;
  outline: 0;
  font-size: 0;
  line-height: 0;
  transition: background-color 0.5s;
}

.carousel-arrows:first-child {
  background-color: var(--brand-color1);
}
.carousel-arrows:last-child {
  background-color: var(--brand-color1);
}

.carousel-arrows span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #fff;
  border-width: 3px 3px 0 0;
  padding: 5px;
  transition: 0.3s;
  font-size: 0;
}
.carousel-arrows:hover {
  background-color: var(--brand-color3);
  transition: 0.5s;
}
.carousel-arrows:hover span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #fff;
  border-width: 3px 3px 0 0;
  padding: 5px;
  transition: 0.3s;
  font-size: 0;
}
.carousel-arrows:hover:enabled {
  background-color: var(--brand-color3);
}
.carousel-arrows:hover:enabled span {
  border-color: #fff;
  margin: 0;
}
.carousel-arrows:disabled {
  background-color: #ccc;
}
.carousel-arrowLeft span {
  transform: translate(-50%, -50%) rotate(-135deg);
  margin-left: 2.45px;
}
.carousel-arrowRight span {
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2.45px;
}
.carousel--isRTL .carousel-arrowLeft span {
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2.45px;
}
.carousel--isRTL .carousel-custom-arrowLeft span {
  transform: rotate(180deg);
}
.carousel--isRTL .carousel-arrowRight span {
  transform: translate(-50%, -50%) rotate(-135deg);
  margin-left: 2.45px;
}
.carousel--isRTL .carousel-custom-arrowRight span {
  transform: rotate(-180deg);
}
.carousel--isRTL .carousel-arrows:hover span {
  margin: 0;
}
.carousel-arrow--disable {
  pointer-events: none;
}
.carousel-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.carousel-dots.carousel-dots--isRTL {
  direction: rtl;
}
.carousel-dots .carousel-dot {
  outline: 0;
  padding: 10px;
  border: none;
  opacity: 0.5;
  font-size: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
.carousel-dots .carousel-dot.carousel-dot--selected {
  opacity: 1 !important;
}
.carousel-dots .carousel-dot:hover {
  opacity: 1;
}
.carousel-dots .carousel-dot:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background: #000;
}
.carousel-dots .carousel-thumbnail {
  outline: 0;
  padding: 10px;
  border: none;
  opacity: 0.5;
  font-size: 0;
  cursor: pointer;
}
.carousel-dots .carousel-thumbnail.carousel-thumbnail--selected {
  opacity: 1 !important;
}
.carousel-dots .carousel-thumbnail:hover {
  opacity: 1;
}
.carousel-thumbnail[type="button"] {
  -webkit-appearance: none;
}
.carousel--isRTL + .carousel-dots {
  direction: rtl;
}

/*# sourceMappingURL=style.css.map*/
