.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor-small {
  display: block;
  transition: 250ms ease-out;
  width: 20px;
  height: 20px;
  left: -9px;
  top: -7px;
  border-radius: 50%;
  z-index: 11000;
  background: rgb(136, 255, 0);
  opacity: 0.8;
}
.cursor.big {
  display: block;
  transition: all 250ms ease-out;
  width: 80px;
  height: 80px;
  left: -40px;
  top: -40px;
  border-radius: 50%;
  z-index: 11000;
  opacity: 0.8;
}

.cursor-about {
  background: var(--brand-color1);
  mix-blend-mode: lighten;
}
.cursor-skills {
  background: var(--brand-color2);
  mix-blend-mode: lighten;
}
.cursor-contact {
  background: var(--brand-color3);
  mix-blend-mode: lighten;
}

.cursor-text {
  background: var(--brand-color4);
  mix-blend-mode: screen;
}

.cursor-inf {
  background: var(--brand-color1);
  mix-blend-mode: exclusion;
}

.cursor-skill {
  background: var(--brand-color2);
  mix-blend-mode: difference;
  width: 120px !important;
  height: 120px !important;
}

.cursor-canvas {
  touch-action: none;
  opacity: 0.05;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -12000;
}
