.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

.cursor-small {
  transition: transform 250ms ease-out;
  width: 20px;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
  height: 20px;
  left: -9px;
  top: -7px;
  border-radius: 50%;
  z-index: 11000;
  background: rgb(136, 255, 0);
  opacity: 0.8;
}

/* .cursor-canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  } */
