@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

html,
body {
  margin: 0;
  padding: 0;

  overflow: hidden;

  font-family: "Indie Flower", cursive;
}

body {
  font-size: 1.2rem;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.label {
  display: inline-block;
  width: 100px;

  font-weight: bold;
}

.canvas-container {
  margin-bottom: 2rem;
  overflow: hidden;
  border: 1px solid;
}

canvas {
  /* touch-action: none;
  position: fixed; */
  /* width: 100vw;
  height: 100vh;
  z-index: -12000; */
  filter: blur(15px) contrast(11) saturate(1%) hue-rotate(1deg) brightness(100%)
    invert(0%);
}
