.wave {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: white;
}

.wave-up {
  animation: slide-wave-up 2s ease-in forwards;
}

.wave-down {
  animation: slide-wave-down 2s ease-in forwards;
}

@keyframes slide-wave-up {
  0% {
    top: 100%;
    background-color: black;
  }
  20% {
    background-color: black;
  }
  80% {
    top: 0;
  }
  100% {
    background-color: var(--body-color);
    top: 0;
  }
}

@keyframes slide-wave-down {
  0% {
    top: 0;
    background-color: rgb(95, 94, 94);
  }
  80% {
    top: 100%;
    background-color: black;
  }
  100% {
    background-color: black;
    top: 100%;
  }
}
