.backdrop {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.pink-open {
  background-color: var(--brand-color1);
  animation: slide-up 200ms ease-out forwards;
  -webkit-animation: slide-up 200ms ease-out forwards;
}
.lime-open {
  background-color: var(--brand-color2);
  animation: slide-up 200ms ease-out forwards;
  animation-delay: 200ms;
  -webkit-animation: slide-up 200ms ease-out forwards;
  -webkit-animation-delay: 200ms;
}
.purple-open {
  background-color: var(--brand-color3);
  animation: slide-up 200ms ease-out forwards;
  animation-delay: 400ms;
  -webkit-animation: slide-up 200ms ease-out forwards;
  -webkit-animation-delay: 400ms;
}
.white-open {
  background-color: var(--body-color);
  animation: slide-up 200ms ease-out forwards;
  animation-delay: 600ms;
  -webkit-animation: slide-up 200ms ease-out forwards;
  -webkit-animation-delay: 600ms;
}

.white-closing {
  opacity: 1;
  background-color: var(--body-color);
  animation: slide-down 200ms ease-in forwards;
  -webkit-animation: slide-down 200ms ease-in forwards;
}
.purple-closing {
  opacity: 1;
  background-color: var(--brand-color3);
  animation: slide-down 200ms ease-in forwards;
  animation-delay: 200ms;
  -webkit-animation: slide-down 200ms ease-in forwards;
  -webkit-animation-delay: 200ms;
}
.lime-closing {
  opacity: 1;
  background-color: var(--brand-color2);
  animation: slide-down 200ms ease-in forwards;
  animation-delay: 400ms;
  -webkit-animation: slide-down 200ms ease-in forwards;
  -webkit-animation-delay: 400ms;
}
.pink-closing {
  opacity: 1;
  background-color: var(--brand-color1);
  animation: slide-down 200ms ease-in forwards;
  animation-delay: 600ms;
  -webkit-animation: slide-down 200ms ease-in forwards;
  -webkit-animation-delay: 600ms;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    top: 100%;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes slide-down {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: 100%;
  }
}
