.trainer-img {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  user-select: none;
}

.trainer-img img {
  -webkit-user-drag: none;
  width: 75%;
  height: 75%;
  transition: transform 0.5s;
  border-radius: 5%;
}
