footer {
  width: 100%;
  z-index: 1;
  height: 540px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 85%;
  margin: auto;
}

.waves-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 540px;
  background: url("../../../assets/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -30;
  transform: rotate(180deg);
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(180deg);
  width: 50%;
  backdrop-filter: blur(20px);
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 10px 30px;
  z-index: 2;
}
.contact-items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.contact-items img {
  width: 60px;
  padding: 10px 0;
  transition: transform 1s ease-out;
}

.contact-items img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
}

.item-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-wrap {
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  flex-direction: column;
}

.footer-title {
  font-size: var(--title-font);
}
.footer-message {
  width: 70%;
  margin: 20px 0;
  font-size: 1.4vw;
}
.footer-btn {
  background-color: black;
  border: thin transparent solid;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  transition: 0.5s ease-in;
  font-size: 1vw;
}

.footer-btn:hover {
  opacity: 1 !important;
  background-color: white;
  box-shadow: -5px 5px 0 #161616;
  color: black;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.footer-btn:active {
  background-color: transparent;
  box-shadow: -5px 5px 0 #161616;
  color: white;
  border: black 3px solid;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.github-icon {
}
