footer {
  width: 100%;
  z-index: 1;
  height: 540px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 85%;
  margin: auto;
}

.waves-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 540px;
  background: url("../../../assets/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -30;
  transform: rotate(180deg);
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(180deg);
  width: 50%;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 10px 30px;
  z-index: 2;
}
.contact-items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transition: 0.5s;
}
.contact-items img {
  width: 60px;
  padding: 10px 0;
  transition: transform 1s ease-out;
}

.contact-items img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
}

.item-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-wrap {
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  flex-direction: column;
}

.footer-title {
  font-size: var(--title-font);
}
.footer-message {
  width: 70%;
  margin: 20px 0;
  font-size: 1.4vw;
}
.btn {
  background-color: black;
  border: thin transparent solid;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  transition: 0.5s ease-in;
  font-size: 1vw;
}

.btn:hover {
  opacity: 1 !important;
  background-color: white;
  box-shadow: -5px 5px 0 #161616;
  color: black;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.btn:active {
  background-color: transparent;
  box-shadow: -5px 5px 0 #161616;
  color: white;
  border: black 3px solid;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.github-icon {
}

@media only screen and (max-width: 850px) {
  .footer-info {
    flex-direction: column-reverse;
    padding: 10px 0px;
    width: 70%;
  }
  .contact-items {
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }
  .contact-items img {
    width: 40px;
  }
  .footer-wrap .footer-title {
    font-size: 5vw !important;
  }
  .footer-wrap .footer-message {
    font-size: 2vw !important;
  }
  .footer-wrap .btn {
    font-size: 2vw !important;
  }
}
@media only screen and (max-width: 650px) {
  .contact-items {
    margin-top: 20px;
    width: 40%;
  }
  .contact-items img {
    width: 30px;
  }
  .item-card h5 {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 450px) {
  .contact-items {
    margin-top: 10px;
    width: 35%;
  }
  .contact-items img {
    width: 20px;
    padding: 0px 0;
    margin-top: 20px;
  }
  .footer-wrap .footer-title {
    font-size: 6vw !important;
  }
  .footer-wrap .footer-message {
    font-size: 3.1vw !important;
  }
  .footer-wrap .btn {
    font-size: 3vw !important;
  }
}
@media only screen and (max-width: 330px) {
  .contact-items {
    margin-top: 0px;
  }
}
