@font-face {
  font-family: Honoka;
  src: url("./assets/Honoka.woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html * {
  font-family: "Honoka";
}

html,
body {
  min-height: 100vh;
}

body {
  height: 100%;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
}

:root {
  --nav-size: 120px;
  --brand-color1: #ff206e;
  --brand-color2: #fbff12;
  --brand-color3: #8c00ff;
  --brand-color4: #80ffdb;
  --spinner-offset: 187;
  --spinner-duration: 1.4s;
}

::-webkit-scrollbar {
  /* width: 7px; */
  display: none;
}

::selection {
  color: rgb(0, 0, 0);
  background: var(--brand-color4);
}
